# .env.example - copy this to .env and fill in actual values.
# .env is ignored and .env.example is committed to show how it is functional

# Alpha Vantage:
# Free Tier: 25 requests/day and 5 requests/minute
ALPHA_VANTAGE_API_KEY=<your-alpha-vantage-key>

# Financial Modeling Prep:
# Free Tier: 250 requests/day
FMP_API_KEY=<your-fmp-key>

# Databricks
DATABRICKS_HOST=https://<your-workspace>.cloud.databricks.com
DATABRICKS_TOKEN=<your-pat>